#recipe{
    width:50%;
    margin-left: 25%;
    margin-bottom: 5vh;
}
#recipe p{
    text-align: justify;
    padding:0.5rem;
    margin:0.2rem;
    font-size: 1.1rem;
}

#recipe img{
    width:100%;
}

#recipe h1 {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.far {
    color:#ddd722;
}

@media screen and (max-width:500px) {
    #recipe {
        width: 80%;
        margin-left: 10%;
    }
}