main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.recipes {
  display: flex;
  width:60%;
  flex-direction: row;
  margin-left: 20%;
  flex-wrap: wrap;
  justify-content: center;
  padding:1rem;
}
.frame {
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  border: #8d8c62 solid 0.2rem;
  padding: 2vw;

}
.frame a{
  text-decoration: none;
  margin:1rem;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.delBtn {
  background-color:#8d8c62;
  color:white;
  cursor:pointer;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 1rem;
  border:none;
  padding:0.7rem;
  margin:0.5rem;
}

article img{
  width:100%;
  height:23vh;
  padding-top:none;
  margin-top:none;
  object-fit: cover;
}

article {
  padding:1.5rem;
  width: 33%;
  word-wrap: break-word;
}

article p {
  margin:0.4rem;
  font-size: 1.1rem;
}

article a{
  color:black;
  text-decoration: none;
}

#top {
  margin-top: 3rem;
}

article h4 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

h1 {
  padding:0.5rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
  text-decoration: underline;
}

#showAll {
  color:#8d8d55;
  background-color: rgb(255, 255, 255);
  cursor:pointer;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 2px;
  border:none;
  padding: 1rem;
  max-width: 20vw;
}

#showAll:visited {
  color:#8d8d55;
  text-decoration: none;
}

#bottom {
  margin-bottom:2.5rem;
}

@media screen and (max-width:650px) {
  .recipes {
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }

  article {
    padding-top:1vh;
    width:90%;
    margin:auto;
  }

  .frame {
    width:80vw;
    margin:10vw;
  }

  .block {
    flex-direction: column;
    margin:0;
  }
}

@media screen and (max-width:1300px) {
  .recipes {
    width:90%;
    margin-left: 5%;
  }

  h1{
     font-size: 2em;
  }

  .frame {
    width:80vw;
    margin:10vw;
  }
}