.title {
  text-align: center;
  text-decoration: underline;
  padding:0.5rem;
  margin:0.5rem;
}

h1 {
  padding:0.5rem;
  font-size: 4vh;
  margin:1.5rem;
  text-decoration: underline;
}

form {
    display:flex;
    flex-direction:column;
    width: 50%;
    margin-left:25%;
    margin-bottom:5vh;
    margin-top:10vh;
    flex-grow: 1;
}
  form input, form label, form textarea, form select{
    padding:5px;
    margin:5px;
    text-align: left;
    line-height: 2vh;
    width:100%;
  }
  form input, form textarea {
    border: 2px solid #bfbfbf;
  }
  
  .error{
    border: red dotted 1px;
    color:red;
  }

  .errorText{
    color:red;
    text-align: start;
    padding: 0.5rem;
  }
  
  #submit {
    text-align: center;
    max-width: 20%;
    border:none;
    background-color:#8d8c62;
    color:#ffffff;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor:pointer;
    padding:0.5rem;
    margin:1rem;
    border-radius: 1rem;  
  }

  .smallerForm {
    width:30%;
    margin-left:35%;
  }

  .center{
    text-align: center;
    align-items: center;
  }

  #adminButton button {
    background-color: #bfbfbf;
    color:#595959;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor:pointer;
    text-align: center;
    border:none;
    margin-right:30px;
    width:20%;
    height: 20px;
  }

  #setHeight {
    min-height: 100vh;;
  }

  @media screen and (max-width:500px) {
    .smallerForm {
      width:80%;
      margin-left:10%;
    }
    form {
      width:80%;
      margin-left:10%;
    }
    #submit {
      max-width: 40%;
    }
  }